boto3==1.12.32
celery==4.4.2
Flask==1.1.1
Flask-RESTful==0.3.8
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jwt==1.0.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.2
pycurl==7.43.0.5
pygraphviz==1.5
PyJWT==1.7.1
python-dotenv==0.12.0
simplegeneric==0.8.1
svgwrite==1.1.12
requests==2.23.0